* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  color: whitesmoke;
}

body {
  display: grid;
  height: 100vh;
  margin-left: 10%;
  margin-right: 10%;

  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 80px 520px 380px 220px;
  grid-template-areas:
    "header header header header"
    "sidebar main main main"
    "sidebar sum1 sum2 sum3"
    "footer footer footer footer";
  grid-gap: 0.5em;
  background-color: #1f2135;
}

header {
  grid-area: header;
}

main {
  background-color: #32344b;
  border-radius: 20px;
  grid-area: main;
}

#sidebar {
  background-color: #32344b;
  border-radius: 20px;
  grid-area: sidebar;
}

#sum1 {
  background-color: #32344b;
  border-radius: 20px;
  grid-area: sum1;
}

#sum2 {
  background-color: #32344b;
  border-radius: 20px;
  grid-area: sum2;
}

#sum3 {
  background-color: #32344b;
  border-radius: 20px;
  grid-area: sum3;
}

footer {
  background-color: #32344b;
  border-radius: 20px;
  grid-area: footer;
}

@import url(https://fonts.googleapis.com/css?family=Khula:700);

.hidden {
  opacity: 0;
}
.console-container {
  font-family: Khula;
  font-size: 4rem;
  text-align: center;
  justify-content: left;
  display: flex;
  position: relative;
  color: white;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.console-underscore {
  display: inline-block;
  position: relative;
  top: -0.14em;
  left: 10px;
}

@media only screen and (max-width: 550px) {
  body {
    grid-template-columns: 1fr;
    grid-template-rows: 0.4fr, 0.4fr, 2.2fr, 1.2fr, 1.2fr, 1.2fr, 1fr;
    grid-template-areas:
      "header"
      "sidebar"
      "main"
      "sum1"
      "sum2"
      "sum3"
      "footer";
  }
}
