* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  color: whitesmoke;
}

body {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: .2fr 1.5fr 1.2fr 0.8fr;
  grid-template-areas: 
  "header header header header"
  "sidebar main main main"
  "sidebar sum1 sum2 sum3"
  "footer footer footer footer";
  grid-gap: .5em;
  background-color: #1f2135;
}

header{
  grid-area: header;
}

main{
  background-color: rgb(26, 173, 129);
  grid-area: main;
}

#sidebar{
  background-color: rgb(101, 161, 52);
  grid-area: sidebar;
}

#sum1{
  background-color: rgb(141, 38, 132);
  grid-area: sum1;
}

#sum2{
  background-color: rgb(163, 143, 50);
  grid-area: sum2;
}

#sum3{
  background-color: rgb(79, 78, 146);
  grid-area: sum3;
}

footer{
  background-color: rgb(140, 175, 84);
  grid-area: footer;
}

@import url(https://fonts.googleapis.com/css?family=Khula:700);

.hidden {
  opacity: 0;
}
.console-container {
  font-family: Khula;
  font-size:5vh;
  text-align: center;
  justify-content: left;
  display: flex;
  position: relative;
  color: white;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.console-underscore {
  display: inline-block;
  position: relative;
  top: -0.14em;
  left: 10px;
}

@media only screen and (max-width:550px){
  body{
    grid-template-columns: 1fr;
    grid-template-rows: .4fr, .4fr, 2.2fr, 1.2fr, 1.2fr, 1.2fr, 1fr;
    grid-template-areas: 
    "header"
    "sidebar"
    "main"
    "sum1"
    "sum2"
    "sum3"
    "footer";
  }
}