<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>ROI</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">
        <link rel="stylesheet" href="../static/style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com"> 
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
        <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>
        </head>
    <body>
        <header>
            <div class='console-container'><span id='text'></span><div class='console-underscore' id='console'>&#95;</div></div>
        </header>
        <main>
            <canvas id="mainChart" style="max-height: 500px;"></canvas>
            <script>
                // https://stackoverflow.com/questions/61018709/how-to-display-datetime-list-in-graph-using-chart-js
                var dayFormat = 'YYYY-MM-DD';
                function newDateString(year, month, day) {
                return moment().year(year).month(month).date(day).format(dayFormat);
                };
                var ctx =  document.getElementById("mainChart").getContext("2d");
                Chart.defaults.font.size = 14;
                var mainChart = new Chart(ctx, {
                    type:  "line",
                    data: {
                        labels: [   {% for item in labels %}
                        newDateString( {{ item.year }}, 
                                       {{ item.month - 1 }}, 
                                       {{ item.day }}
                                     ),
                                    {% endfor %}
                                ],
                        datasets: [
                            {
                                label: "S&P500 Index",
                                data:{{ values | safe }},
                                fill: false,
                                borderColor: "rgb(75,192,192)",
                                linetension: 0.1,
                                pointRadius:1
                            }
                        ]
                    },
                    options: {
                    layout: {
                        padding: {
                            left: 50,
                            right: 50,
                            top: 25,
                            bottom: 25
                            }
                        }
                    }
                })
            </script>
        </main>
        <div id="sidebar">
            <label for="indexInput" class="form-label">Index</label><br>
            <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                <input type="radio" class="btn-check" name="index" id="indexbtn1" value="s&p500">
                <label class="btn btn-outline-light" for="indexbtn1">S&P 500</label>
              
                <input type="radio" class="btn-check" name="index" id="indexbtn2" value="nasdaq">
                <label class="btn btn-outline-light" for="indexbtn2">Nasdaq</label>
              
                <input type="radio" class="btn-check" name="index" id="indexbtn3" value="ftse100">
                <label class="btn btn-outline-light" for="indexbtn3">FTSE 100</label>
            </div><br><br>
            <label for="intervalInput" class="form-label">Deposit Interval</label><br>
            <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                <input type="radio" class="btn-check" name="interval" id="intervalbtn1" value="daily">
                <label class="btn btn-outline-light" for="intervalbtn1">Daily</label>
              
                <input type="radio" class="btn-check" name="interval" id="intervalbtn2" value="weekly">
                <label class="btn btn-outline-light" for="intervalbtn2">Weekly</label>
              
                <input type="radio" class="btn-check" name="interval" id="intervalbtn3" value="monthly">
                <label class="btn btn-outline-light" for="intervalbtn3">Monthly</label>
            </div><br><br>
            <div class="mb-3" style="width: 60%;">
                <label for="initialDeposit" class="form-label">Initial Deposit ($)</label>
                <input type="text" class="form-control" id="initialDeposit" placeholder="1000">
            </div>
            <div class="mb-3" style="width: 60%;">
                <label for="recurringDeposit" class="form-label">Recurring Deposit ($)</label>
                <input type="text" class="form-control" id="recurringDeposit" placeholder="500">
            </div>
            <div class="mb-3" style="width: 60%;">
                <label for="startDate" class="form-label">Start Date</label>
                <input type="text" class="form-control" id="startDate" placeholder="DD/MM/YYYY">
            </div>
            <div class="mb-3" style="width: 60%;">
                <label for="endDate" class="form-label">End Date</label>
                <input type="text" class="form-control" id="endDate" placeholder="DD/MM/YYYY">
            </div><br>
            <button type="button" class="btn btn-primary" id="submit">Calculate ROI</button>
        </div>
        <div id="sum1">test1</div>
        <div id="sum2">test2</div>
        <div id="sum3">test3</div>      
        <footer>footer</footer>
        <script src="../static/index.js"></script>
        <script src="{{ url_for('static', filename='index.js')}}"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    </body>
    <script>
        document.getElementById("submit").onclick = function getInputData(){
            let index = document.querySelector('input[name="index"]:checked').value
            let interval = document.querySelector('input[name="interval"]:checked').value
            let initialDeposit = document.querySelector('input[id="initialDeposit"]').value
            let recurringDeposit = document.querySelector('input[id="recurringDeposit"]').value
            let startDate = document.querySelector('input[id="startDate"]').value
            let endDate = document.querySelector('input[id="endDate"]').value
            //https://www.codespeedy.com/how-to-pass-javascript-variables-to-python-in-flask/
        }
    </script>
</html>